body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

#startBtn {
    background-color: red;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    left: 0;
    right: 0;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    width: 400px;
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 20px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.menu div {
    color: white;
    font-weight: bolder;
    padding: 5px;

}

.menu-flex div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu div input {
    padding: 5px;
    border-radius: 10px;
    max-width: 100px;
    border: 1px solid black;
    margin: 5px;
}