body,
html {
    overflow: hidden;
    margin: 0;
    background-color: rgba(177, 83, 1, 0.811);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

#canvas2 {
    position: absolute;
    z-index: 2;
}

#canvas1 {
    position: absolute;
    z-index: 1;
}

#btn-turn-wheel #result {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #ffffff;
}

.resultVictory {
    animation: victory 2s ease-in-out infinite alternate;
}

@keyframes victory {
    0% {
        font-size: 50px;
        text-shadow: 1px 1px 5px #000000;
    }

    100% {
        font-size: 80px;
        text-shadow: 1px 1px 5px #000000;
    }
}